.button {
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer !important;
    font-size: 18px;
    border: none;

    &[disabled] {
        opacity: 0.5 !important;
    }
    
    &__primary {
        background-color: var(--ion-color-danger) !important;
        color: var(--ion-color-light) !important;
    }

    &--rounded {
        padding: 5px !important;
        background-color: var(--ion-color-primary) !important;
        color: var(--ion-color-light) !important;
        border-radius: 50px !important;

        mat-icon {
            font-size: 20px !important; 
        }
    }

    &:hover {
        background-color: lighten($buttonsColor, 10%);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    }

    &:active {
        background-color: darken($buttonsColor, 10%);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.20);
    }
}