button {
    width: 100%;
    height: 60px;
    background-color: var(--ion-color-danger);
    margin-top: 20px;
    color: var(--ion-color-primary-contrast);
    border-radius: 30px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.20);
    transition: all 0.3s ease;

    &:hover {
        background-color: lighten($buttonsColor, 10%);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    }

    &:active {
        background-color: darken($buttonsColor, 10%);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.20);
    }
} 