.button {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer !important;
    border: none;

    &[disabled] {
        opacity: 0.5 !important;
    }
    
    &__primary {
        padding: 20px;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 500;
        background-color: var(--ion-color-danger) !important;
        color: var(--ion-color-light) !important;
        box-shadow: $box-shadow;
    }

    &__secondary{
        background-color: var(--ion-color-danger) !important;
        color: var(--ion-color-light) !important;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        font-size: 16px;
        padding: 10px;

        &:hover{
            background-color: lighten($buttonsColor, 10%) !important;
            box-shadow: none !important;
        }
    }

    &__form{
        position: absolute;
        right: 15px;
        bottom: 15px;
        background-color: var(--ion-color-danger) !important;
        color: var(--ion-color-light) !important;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        padding: 10px;
        font-size: 16px;

        &:hover{
            background-color: lighten($buttonsColor, 10%) !important;
            box-shadow: none !important;
        }

    }

    &--rounded {
        padding: 5px !important;
        background-color: var(--ion-color-primary) !important;
        color: var(--ion-color-light) !important;
        border-radius: 50px !important;

        mat-icon {
            font-size: 20px !important; 
        }
    }

    &--margin{
        margin-top: 15px;
    }

    &--icon {
        color:var(--ion-color-primary)
    }

    &--filter {
        background-color: var(--ion-color-light) !important;
        padding: 0 10px;
        border-radius: $border-radius;
        border: 1px solid var(--ion-color-light-shade);
    }

    &--goback{
        background-color: var(--ion-color-secondary) !important;
        right: 280px !important;

        &:hover{
            background-color: lighten($buttonGoBack, 10%) !important;
            box-shadow: none !important;
        }

    }
    &--Dialog{
        right: 190px !important;

    }
    &--new{
        background-color: var(--ion-color-success) !important;
        right: 400px !important;

        &:hover{
            background-color: lighten($buttonGoBack, 10%) !important;
            box-shadow: none !important;
        }

    }

    &:hover {
        background-color: lighten($buttonsColor, 10%);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    }

    &:active {
        background-color: darken($buttonsColor, 10%);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.20);
    }
}