.dialog {
    position: fixed;
    background-color: var(--ion-color-light);
    height: 100%;
    width: 40%;
    top: 0;
    right: 0;

    &__title {
        padding: 20px;
        background-color: var(--ion-color-secondary);
        color: var(--ion-color-light);
    }

    &__content {
        padding: 20px;
        font-size: 12px !important;
        overflow-y: hidden !important;

    }
    &__info{
        display: flex;
        align-items: center;
        color: var(--ion-color-primary);
        padding: 5px;
        mat-icon{
            position: absolute;
        }
        span{
            padding-left: 25px
            
        };
        a {
            color: var(--ion-color-secondary) !important;
        }
    }
} 