h1 {
    color: var(--ion-color-dark-contrast);
    font-size: 32px;
    align-self: flex-start;
}

p {
    color: var(--ion-color-dark-contrast);
    font-size: 16px;
    font-weight: 400;
}

a {
    font-size: 13px;
    color: var(--ion-color-light);
    text-decoration: underline;
}

.text-primary{
    color: var(--ion-color-primary)!important;
}
.text-secondary{
    color: var(--ion-color-secondary)!important;
}

.text-tertiary{
    color: var(--ion-color-tertiary)!important;
}

.text-white{
    color: var(--ion-color-dark-contrast)!important;
}

.text-black{
    color: var(--ion-color-dark)!important;
}
.text-alert{
    color: var(--ion-color-warning)!important;
}

.paragraph {
    color: var(--ion-color-dark-contrast);
    font-size: 16px;
    align-self: flex-start;
    font-weight: 100;
}

mat-error {
    color: var(--ion-color-danger) !important;
    font-size: 12px;
    padding-top: 5px;

    mat-icon {
        font-size: 20px !important; 
        vertical-align: middle;
        width: auto !important;
        height: auto !important;
    }
}