h1 {
    color: var(--ion-color-dark-contrast);
    font-size: 32px;
    align-self: flex-start;
}

p {
    color: var(--ion-color-dark-contrast);
    font-size: 16px;
    font-weight: 100;
}

a {
    font-size: 13px;
    color: var(--ion-color-light);
    text-decoration: underline;
}

.title-primary{
    color: var(--ion-color-primary)!important;
}

.paragraph {
    color: var(--ion-color-dark-contrast);
    font-size: 16px;
    align-self: flex-start;
    font-weight: 100;
}

mat-error {
    color: var(--ion-color-danger) !important;
    font-size: 12px;
    padding-top: 5px;

    mat-icon {
        font-size: 20px !important; 
        vertical-align: middle;
        width: auto !important;
        height: auto !important;
    }
}