h1 {
    color: var(--ion-color-dark-contrast);
    font-size: 32px;
    align-self: flex-start;
}

p {
    color: var(--ion-color-dark-contrast);
    font-size: 16px;
    align-self: flex-start;
    font-weight: 100;
}

a {
    font-size: 13px;
    color: var(--ion-color-light);
    text-decoration: underline;
}