@import '../../../../styles/abstracts/variables';

.profile {
    display: flex;
    justify-content: center;
    padding: 55px;
    flex-direction: column;


    &__title{
        padding-bottom: 20px;
    }

    &__row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 25px;
    }

    &__content{
        width: 100%;
        height: 65vh;
        background-color: var(--ion-color-dark-contrast);
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 25px;

    }
    &__content-client{
        width: 65% !important;
    }

    &__sideInfo{
        width: 35%;
        height: 65vh;
        background-color: var(--ion-color-dark-contrast);
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 25px;
    }

    &__alert{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 15px;

        mat-icon{
            font-size: 30px;
            vertical-align: bottom !important;
            padding-right: 10px;
            width: auto !important;
            height: auto !important;
            color: var(--ion-color-warning);
        }

        span{
            font-size: 16px;
        }
    }

    &__header{
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        position: relative;
        width: 120px;

        .upload-btn {
            position: absolute;
            bottom: 0;
            right: 10px;
            transform: translate(25%, 25%);
        }
    }

    &__img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }

    .form{
        &__grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;
            margin-bottom: 30px;
        }

        &__actions{

            display: flex;
            justify-content: flex-end;
            gap: 15px;
            button{
                color: var(--ion-color-light) !important;
                box-shadow: $box-shadow;
                border-radius: $border-radius;
                padding: 10px;
                font-size: 18px;

                &:hover{
                    background-color: lighten($buttonsColor, 10%) !important;
                    box-shadow: none !important;
                }
            }
        }
    }

    &__selection{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    &__circle{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: var(--ion-color-dark-contrast);
        border: 2px solid var(--ion-color-tertiary);
        transition: all 0.3s ease;
        cursor: pointer;

        h4 {
            font-size: 16px;
            text-align: center;
            font-weight: 500;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        mat-icon {
            height: auto !important;
            width: auto !important;
            font-size: 100px;
            color: var(--ion-color-secondary);
        }

        &:hover{
            border: 2px solid var(--ion-color-secondary);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    }
}