<div class='signup'>
    <div class='signup__left-side'>
        <img src="/assets/images/logo.jpg" class='logo' alt='Logo Image'/>
        <div class="signup__logo-name">
            <h1>VetCare <small>Systems</small></h1>
        </div>
    </div>
    <div class='signup__right-side'>
        <form class='form'>
            <h1>Registar</h1>
            <p>Por-favor insira os seus dados.</p>
            <div class='form-group'>
                <img src="/assets/images/mail.png" class='img' alt="Email Icon" />
                <input type='email' name='email' placeholder='Email'/>
            </div>
            <div class="form__center">
                <div class='form-group form-group--mid'>
                    <img src="/assets/images/user.png" class='img' alt="Nome Icon" />
                    <input type='text' name='nome' placeholder='Nome'/>
                </div>
                <div class='form-group form-group--mid'>
                    <img src="/assets/images/user.png" class='img' alt="Apelido Icon" />
                    <input type='text' name='apelido' placeholder='Apelido'/>
                </div>
            </div>
            
            <div class='form-group'>
                <img src="/assets/images/lockIcon.png" class='img' alt="Password Icon" />
                <input type='password' name='password' placeholder='Password'/>
            </div>
            <div class='form-group form-group--no-bottom-margin'>
                <img src="/assets/images/lockIcon.png" class='img' alt="Password Icon" />
                <input type='password' name='password' placeholder='Comfirmar a Password'/>
            </div>
            <div class='form__options'>
                <label>
                    <input type="checkbox" class="checkbox" />
                    <span>Ao criar uma conta, concordo com os <strong>Termos de Serviço</strong> e a <strong>Política de Privacidade</strong> da Vetcare</span>
                </label>
            </div>
            <button type='submit' class='form__details'>Registar</button>
        </form>
        <div class='signup__register-link'>
            Já tem conta? <a href='auth/login'>Entre Aqui!</a>
        </div>
    </div>
</div>
