<div class='login'>
    <div class='login__left-side'>
        <img src="/assets/images/logo.jpg" class='logo' alt='Logo' />
        <div class="login__logo-name">
            <h1>VetCare <small>Systems</small></h1>
        </div>
    </div>
    <div class='login__right-side'>
        <form class='form'>
            <h1>Recuperar password</h1>
            <p>Por-favor insira os seus dados e verifique de seguida o seu email.</p>
            <div class='form-group'>
                <img src="/assets/images/mail.png" class='img' alt="Email Icon" />
                <input type='email' name='email' placeholder='Email' />
            </div>
            <button routerLink="auth/verify-email">Recuperar</button>
        </form>
        <div class='login__register-link'>
            Deseja voltar? <a routerLink='/auth/register'>Volte aqui!</a>
        </div>
    </div>
</div>