<div class='recover-pass'>
    <div class='recover-pass__left-side'>
        <img src="/assets/images/logo.jpg" class='logo' alt='Logo' />
        <div class="recover-pass__logo-name">
            <h1>VetCare <small>Systems</small></h1>
        </div>
    </div>
    <div class='recover-pass__right-side'>
        <form class='form' [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <h1>Recuperar password</h1>
            <p>Por-favor insira os seus dados e verifique de seguida o seu email.</p>
            <div class='form__group'>
                <mat-icon class="input__icon" fontIcon="mail" />
                <input class="input" type='email' name='email' placeholder='Email' formControlName="email"/>
            </div>
            @if ((email?.dirty || email?.touched) && email?.hasError('required')) {
                <mat-error class="error-message">
                  Email é um campo obrigatório!
                </mat-error>
              }
              @if ((email?.dirty || email?.touched) && email?.hasError('email')) {
                <mat-error class="error-message">
                    Email tem um formato inválido!
                </mat-error>
              }
            <button class="button button__primary" [disabled]="forgotForm.invalid">Enviar</button>
        </form>
        <div class='recover-pass__register-link'>
            Deseja voltar? <a routerLink='/auth/register'>Volte aqui!</a>
        </div>
    </div>
</div>