@import '../../../../../../styles/abstracts/variables';

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    &__container{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    &__details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        padding-top: 5px;
    }

    &__image{
        display: flex;
        justify-content: end;
        width: 200px;
        height: 200px;
        object-fit: cover;

        img{
            width: 100%;
            height: 100%;
        }
    }


    &__action{
        display: flex;
        justify-content: flex-end;

        button{
            padding: 10px 20px;
            right: 0;
            border-radius: $border-radius;
        }
    }
}