<div class='signup'>
    <div class='signup__left-side'>
        <img src="/assets/images/logo.jpg" class='logo' alt='Logo Vetcare'/>
        <div class="signup__logo-name">
            <h1>VetCare <small>Systems</small></h1>
        </div>
    </div>
    <div class='signup__right-side'>
        <form class='form' [formGroup]="registerForm" (ngSubmit)="submit()">
            <h1>Registar</h1>
            <p>Por-favor insira os seus dados.</p>
            <div class='form__group'>
                <mat-icon class="input__icon" fontIcon="mail" />
                <input 
                    class="input"
                    type='email' 
                    name='email' 
                    placeholder='Email' 
                    formControlName="email" 
                    [ngClass]="{'error' : (email?.dirty || email?.touched) && email?.hasError('required') }"
                />
            </div>
            @if ((email?.dirty || email?.touched) && email?.hasError('required')) {
                <mat-error class="error-message">
                    Email é um campo obrigatório!
                </mat-error>
            }
            @if ((email?.dirty || email?.touched) && email?.hasError('email')) {
                <mat-error class="error-message">
                    Email tem um formato inválido!
                </mat-error>
            }
            
            <div class="align-input-center">
                <div class='form__group'>
                    <mat-icon class="input__icon" fontIcon="person"/>
                    <input 
                        class="input"
                        type='text' 
                        name='nome' 
                        placeholder='Nome'
                        formControlName="firstName"
                    />
                </div>
                
                <div class='form__group'>
                    <mat-icon class="input__icon" fontIcon="person"/>
                    <input
                        class="input"
                        type='text' 
                        name='apelido' 
                        placeholder='Apelido'
                        formControlName="lastName"
                    />
                </div>
            </div>
            <div class='form__group'>
                <mat-icon class="input__icon" fontIcon="lock" />
                <input
                    class="input" 
                    type='password' 
                    name='password' 
                    placeholder='Password'
                    formControlName="password"
                    [ngClass]="{'error' : (password?.dirty || password?.touched) && password?.hasError('required') }"
                />
            </div>
            @if ((password?.dirty ||password?.touched) && password?.hasError('pattern')) {
                <mat-error class="error-message">
                    A password deve conter uma letra maiúscula, um número e um caractere especial
                </mat-error>
            }
            @if ((password?.dirty || password?.touched) && password?.hasError('required')) {
                <mat-error class="error-message">
                    Password é um campo obrigatório!
                </mat-error>
            }

            <div class='form__group'>
                <mat-icon class="input__icon" fontIcon="lock" />
                <input 
                    class="input"
                    type='password' 
                    name='password' 
                    placeholder='Confirmar a Password'
                    formControlName="confirmPassword"
                    [ngClass]="{'error' : (confirmPassword?.dirty || confirmPassword?.touched) && confirmPassword?.hasError('required') }"
                />
            </div>
            @if ((confirmPassword?.dirty || confirmPassword?.touched) && confirmPassword?.hasError('passwordMismatch')) {
                <mat-error class="error-message">
                    As password's não coincidem!
                </mat-error>
            }
            @if (errorMessage){
                <mat-error class="error-message">
                    {{errorMessage}}
                </mat-error>
            }
            <div class='form__options'>
                <mat-checkbox class="example-margin">
                    <span>Ao criar uma conta, concordo com os <strong>Termos de Serviço</strong> e a <strong>Política de Privacidade</strong> da Vetcare</span>
                </mat-checkbox>
            </div>
            <button type='submit' class='button button__primary' [disabled]="registerForm.invalid">
                Registar
            </button>
        </form>
        <div class='signup__register-link'>
            Já tem conta? <a href='auth/login'>Entre Aqui!</a>
        </div>
    </div>
</div>
