<div class='login'>
    <div class='login__left-side'>
        <img src="/assets/images/logo.jpg" class='logo' alt='Logo Image'/>
        <div class="login__logo-name">
            <h1>VetCare <small>Systems</small></h1>
        </div>
    </div>
    <div class='login__right-side'>
        <form class='form'>
            <h1>Bem Vindo de volta!</h1>
            <p>Por-favor insira os seus dados.</p>
            <div class='form-group'>
                <img src="/assets/images/mail.png" class='img' alt="Email Icon" />
                <input type='email' name='email' placeholder='Email'/>
            </div>
            <div class='form-group form-group--no-bottom-margin'>
                <img src="/assets/images/lockIcon.png" class='img' alt="Username Icon" />
                <input type='password' name='password' placeholder='Password'/>
            </div>
            <div class='form__options'>
                <label>
                    <input type="checkbox" class="checkbox" />
                    <span>Lembrar mais tarde</span>
                </label>
                <a href='/'>Esqueceu-se da password?</a>
            </div>
            <button type='submit' class='but'>Entrar</button>
        </form>
        <div class='login__register-link'>
            Ainda não tem conta? <a href='auth/signup'>Registe-se Aqui!</a>
        </div>
    </div>
</div>
