<div class='login'>
  <div class='login__left-side'>
    <img src="/assets/images/logo.jpg" class='logo' alt='Logo' />
    <div class="login__logo-name">
      <h1>VetCare <small>Systems</small></h1>
    </div>
  </div>

  <div class='login__right-side'>
    <form class='form' [formGroup]="loginForm" (ngSubmit)="submit()">
      <h1>Bem Vindo de volta!</h1>
      <p>Por favor insira os seus dados.</p>

      <div class='form__group'>
        <mat-icon class="input__icon" fontIcon="mail" />
        <input 
          class="input"
          type='email' 
          formControlName='email' 
          placeholder='Email' 
          [ngClass]="{'error' : (email?.dirty || email?.touched) && email?.hasError('required') }"
        />
      </div>
      @if ((email?.dirty || email?.touched) && email?.hasError('required')) {
        <mat-error class="error-message">
          Email é um campo obrigatório!
        </mat-error>
      }
      @if ((email?.dirty || email?.touched) && email?.hasError('email')) {
        <mat-error class="error-message">
            Email tem um formato inválido!
        </mat-error>
      }

      <div class='form__group'>
        <mat-icon class="input__icon" fontIcon="lock" />
        <input 
          class="input" 
          type='password' 
          formControlName='password' 
          placeholder='Password' 
          [ngClass]="{'error' : (password?.dirty || password?.touched) && password?.hasError('required') }"
        />
      </div>
      @if ((password?.dirty ||password?.touched) && password?.hasError('pattern')) {
        <mat-error class="error-message">
            A password deve conter uma letra maiúscula, um número e um caractere especial
        </mat-error>
      }
      @if ((password?.dirty || password?.touched) && password?.hasError('required')) {
        <mat-error class="error-message">
            Password é um campo obrigatório!
        </mat-error>
      }
      @if(errorMessage){
        <mat-error class="error-message">
          {{errorMessage}}
        </mat-error>
      }

      <div class='form__options'>
        <mat-checkbox>Lembrar-me mais tarde</mat-checkbox>
          
        <a routerLink='/auth/recover-pass'>Esqueceu-se da password?</a>
      </div>
      

      <button type='submit' class='button button__primary' [disabled]="loginForm.invalid">Entrar</button>
    
    </form>

    <div class='login__register-link'>
      Ainda não tem conta? <a routerLink='/auth/register'>Registe-se Aqui!</a>
    </div>
  </div>
</div>