:root {
	--ion-color-primary: #2C3E50;
	--ion-color-secondary: #87CEEB;
	--ion-color-tertiary: #708090;
	--ion-color-success: #88D8B0;
	--ion-color-warning: #ffc409;
	--ion-color-danger: #FF6F61;
	--ion-color-light: #F8FAFC;
	--ion-color-light-shade: #dadcde;
	--ion-color-medium: #A9A9A9;
	--ion-color-dark: #2f2f2f;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-background: #f4f6f7;
}

// Colors
$buttonsColor: #FF6F61;

// Border radius
$border-radius: 8px;

// Box shadow
$box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);