<div class="form-background">
    <div class="form-background__info">
        <mat-icon fontIcon="report"/>
        <span>Preencha as informações abaixo para registrar o seu animal. Não se preocupe, você poderá editar essas informações mais tarde, se necessário.</span>
    </div>
    <form class="form">
        <h1>Informações Pessoais</h1>
        <div class="form__input">
            <input type="text" class="input-form" placeholder="Nome Completo *">
        </div>
        <div class="form__input">
            <input type="text" class="input-form" placeholder="Email *">
        </div>
        <div class="form__input form--between">
            <input type="password" class="input-form" placeholder="Password *">
            <input type="password" matInput class="input-form" placeholder="Confirm password *">
        </div>
        <div class="form__input form--between">
            <input type="text" class="input-form" placeholder="NIF *">
            <input type="text" class="input-form" placeholder="Data de Nascimento *">
        </div>
        <div class="form__input">
            <input type="tel" class="input-form" placeholder="Telemóvel *">
        </div>
        <h1 class="form--padding">Características de Trabalho</h1>
        <div class="form__input form--between">
            <input type="tel" class="input-form" placeholder="Função *">
            <input type="tel" class="input-form" placeholder="Jornada de Trabalho *">
        </div>
    </form>
    <button class="button button__form button--goback">Voltar</button>
    <button class="button button__form">Adicionar Funcionario</button>
</div>