<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''" >
    <div class="logo-container">
        <button class="btn-logo" (click)="toggleCollapse()">
            <img src="../../../assets/icons/logoIcon.png"alt="" class="logo">
        </button>
        <div class="logo-text" *ngIf="collapsed">
            <span class="logo-title">Vetcare Systems</span>
        </div>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >
                <img  [src]="getIcon(data.routeLink)" alt="home icon" class="sidenav-link-icon">
                <span class="sidenav-link-text" *ngIf="collapsed" >{{data.label}}</span>
            </a>
        </li>
    </ul>
</div>