<div class="logo">
    <a href="#">
        <img src="../../../assets/images/logomain.png" alt="Logo Image">
    </a>
</div>
<div class="sidebar">
    <ul class="nav-list">
        <li>
            <a href="#">
                <img src="../../../assets/icons/painel-de-controle.png" alt="Clinica Image">
                Painel de Controlo
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/icons/consultorio.png" alt="Clinica Image">
                Clínica
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/icons/relogio.png" alt="Horários Image">
                Horários
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/icons/funcionarios.png" alt="Funcionários Image">
                Funcionários
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/icons/calendario.png" alt="Agenda Image">
                Agenda
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/icons/amar.png" alt="Clientes Image">
                Clientes
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/icons/verificado.png" alt="Validação Image">
                Validação
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/icons/notificacao.png" alt="Notificações Image">
                Gestão de Notificações
            </a>
        </li>
    </ul>
</div>
<div class="side-out">
    <a href="#">
        Terminar sessão
    </a>
    <img src="../../../assets/icons/sair.png" alt="Notificações Image">
</div>