@import '../../../styles/abstracts/variables';

.sidenav {
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    width: 100px;
    padding: 24px 0 0 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .logo-container{
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            background: var(--ion-color-light);
            text-align: center;
            width: 90px;
            height: 90px;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 80px;
                height: 80px;
            }
        }
        .logo-text{
            background: var(--ion-color-light);
            width: calc(100% - 100px);
            height: 70px; 
            display: flex;
            align-items: center;
            justify-content: center;

            .logo-title{
                font-size: 28px;
                font-weight: 700;
                color: var(--ion-color-primary);
                margin-left: 16px;
            }
        }


    }

    &__logout {
        background: var(--ion-color-primary);
        border-radius: $border-radius;
        padding: 10px;
        
        a {
            width: 100%;
            text-decoration: none;
        }
    }
}

.sidenav-collapsed{
    width: 265px
}

.sidenav-nav{
    background: var(--ion-color-primary);
    list-style: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 58px);
    cursor: pointer;
    border-radius: 10px;

    .sidenav-nav-item{
        width: 100%;
        margin-bottom: 10px;

        .sidenav-nav-link{
            display: flex;
            align-items: center;
            height: 48px;
            color: var(--ion-color-light-shade);
            text-decoration: none;
            border-radius: 10px;
            transition: all .3s ease;


            .sidenav-link-icon{
                width: 24px;
                height: 24px;
                min-width: 24px;
                margin: 0 8px;
            }

            .sidenav-link-text{
                margin-left: 24px;
                font-size: 16px;
            }

        }
    }

}

.active{
    background-color: var(--ion-color-light);

    .sidenav-link-icon,
    .sidenav-link-text{
        color: var(--ion-color-primary);
    }
}