<div class="dialog">
  <h2 mat-dialog-title class="dialog__title">Marcar evento para o dia {{ formEvent.get('date')?.value | date: 'dd/MM/yyyy' }}</h2>
  <mat-dialog-content class="dialog__content">
      <div class="dialog__info">
          <mat-icon fontIcon="report"/>
          <span>Preencha as informações abaixo para criar uma nova reserva. Caso ainda não tenha registrado o animal, <a>clique aqui</a> para cadastrá-lo antes de prosseguir.</span>
      </div>
      <div class="information">
        Esta reserva foi selecionada para o dia {{ formEvent.get('date')?.value | date: 'dd/MM/yyyy' }} entre as horas {{ formEvent.get('startTime')?.value | date: 'HH:mm' }} e {{ formEvent.get('endTime')?.value | date: 'HH:mm' }}.
      </div>
      <form class="form" [formGroup]="formEvent" (ngSubmit)="onSave()">
          <div class="form__input">
              <!-- CLIENT SELECT -->
              <mat-form-field>
                  <mat-label>Procurar Cliente</mat-label>
                  <mat-select formControlName="clientId">
                      <mat-option>
                          <input
                              matInput
                              placeholder="Search..."
                              (keyup)="filterOptions($event.target)"
                              (click)="$event.stopPropagation()"  
                              (keydown)="$event.stopPropagation()" 
                          />
                      </mat-option>
                      <mat-option *ngFor="let client of clients" [value]="client.id">
                        {{ client.name }}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="form__input">
              <!-- ANIMAL SELECT -->
              <mat-form-field>
                <mat-label>Animal associado</mat-label>
                <mat-select formControlName="animalId" [disabled]="!animals.length">
                  <mat-option *ngFor="let animal of animals" [value]="animal.id">
                    {{ animal.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          <div class="form__input">
              <mat-form-field class="example-full-width">
                  <mat-label>Motivo da Reserva</mat-label>
                  <textarea matInput placeholder="Ex. O meu cao vomitou..." formControlName="reason"></textarea>
              </mat-form-field>
          </div>
          <div class="form__input">
              <!-- Employee SELECT -->
              <mat-form-field>
                  <mat-label>Funcionarios disponiveis</mat-label>
                  <mat-select formControlName="employeeId">
                      <mat-option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</mat-option>
                      <mat-option *ngIf="!employees.length" disabled>Nenhum funcionário disponivel</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <button class="button button__form button--goback" (click)="onCancel()">Cancel</button>
          <button class="button button__form" type="submit" [disabled]="formEvent.invalid">Adicionar Funcionario</button>
      </form>
  </mat-dialog-content>
</div>