<div class="control-panel">
  <div class="control-panel__welcome">
    <h1>Bem Vindo a VetCare!</h1>
    <h4 *ngIf="userInfo">Olá {{userInfo.firstName}} {{userInfo.lastName}}. Bem-vindo de volta!</h4>
  </div>
  <div class="control-panel__top-bar">
    <app-top-bar></app-top-bar>
  </div>
  <div class="content">
    <h1>Resultados de hoje</h1>
    <div class="content__icon">
      <img src="../../../../assets/icons/schedule.png" alt="calendar image">
    </div>
    <div class="content__circle-client">
      <h2>40</h2>
      <h5>Clientes</h5>
    </div>
    <div class="content__circle-employee">
      <h2>20</h2>
      <h5>Funcionários</h5>
    </div>
    <div class="content__circle-animals">
      <h2>2</h2>
      <h5>Animais</h5>
    </div>
  </div>

</div>