@import '../../../../styles/abstracts/variables';

.control-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    
    &__welcome{
        h1{
            font-size: 25px;
            font-weight: 600;
            color: var(--ion-color-primary);
        }
    }

    &__top-bar{
        position: absolute;
        top: 20px;
        right: 30px;
        
    }
    
    
}