@import '../../../../styles/abstracts/variables';

.dashboard {
    padding: 30px 35px 0;

    &__welcome{
        padding-bottom: 50px;

        h1{
            font-size: 25px;
            font-weight: 600;
            color: var(--ion-color-primary);
        }

        h4{
            font-size: 20px;
            font-weight: 200;
            color: var(--ion-color-primary);
        }
    }

    &__top-bar{
        position: absolute;
        top: 20px;
        right: 30px;
        
    }

    &__content{
        width: 100%;
        
        h1{
            padding: 20px 0 0 30px;
            font-size: 20px;
            font-weight: 400;
            color: var(--ion-color-dark-contrast);
        }
    }

    .overall {
        position: relative;
        background-color: var(--ion-color-primary);
        border-radius: 8px;
        height: 333px;
        width: 100%;

        &__icon{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 10px;
            right: 5px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: var(--ion-color-secondary);

            img{
                width: 22px;
                height: 22px;
            }
        }

        &__circle-client{
            position: absolute;
            top: 70px;
            right: 100px;
            display: flex;
            background-color: var(--ion-color-success);
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            flex-direction: column;
            z-index: 1;

            h2{
                font-size: 32px;
                font-weight: 400;
                margin: 0;
            }
            h5{
                font-size: 14px;
                font-weight: 400;
                margin: 0;
            }
        }

        &__circle-employee{
            position: absolute;
            top: 120px;
            right: 240px;
            display: flex;
            background-color: var(--ion-color-danger);
            justify-content: center;
            align-items: center;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            flex-direction: column;
            z-index: 2;

            h2{
                font-size: 22px;
                font-weight: 200;
                margin: 0;
            }
            h5{
                font-size: 14px;
                font-weight: 200;
                margin: 0;
            }
        }

        &__circle-animals{
            position: absolute;
            top: 60px;
            right: 240px;
            display: flex;
            background-color: var(--ion-color-dark-contrast);
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            flex-direction: column;
            z-index: 3;

            h2{
                font-size: 22px;
                font-weight: 200;
                margin: 0;
            }
            h5{
                font-size: 14px;
                font-weight: 200;
                margin: 0;
            }
        }
    }

    .calendar {
        background-color: blue;
        border-radius: $border-radius;
        width: 100%;
    }

    .newsoftheweek{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--ion-color-dark-contrast);
        height: 300px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        gap: 10px;
        border-radius: 8px;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: var(--ion-color-tertiary-tint) transparent;
        padding: 10px;

        &:-webkit-scrollbar {
            width: 5px;
        }
        
        h1{
            position: sticky;
            top: 0;
            background-color: var(--ion-color-dark-contrast);
            z-index: 100;
            color: var(--ion-color-dark);
            font-size: 22px;
            font-weight: 600;
            padding: 10px 0 20px 30px;
        }
        
        &__news{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--ion-color-secondary);
            border-radius: 15px;
            width: 100%;
            padding: 10px;

            &:first-of-type {
                margin-top: 5px;
            }

            h2{
                font-size: 20px;
                font-weight: 800;
            }
        }

    }
}