<div class="app-container">
  <!-- Admin Layout -->
  <div *ngIf="!isAuthPage" class="position-relative">
    <app-sidebar 
      [isSidebarCollapsed]="isSidebarCollapsed"
      (sidebarToggle)="onSidebarToggle()"
    ></app-sidebar>
    <button
      class="sidebar-toggle-btn"
      [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }"
      (click)="onSidebarToggle()"
    >
      <mat-icon 
        *ngIf="isSidebarCollapsed"
        aria-hidden="false" 
        aria-label="Arrow back" 
        fontIcon="arrow_forward"
      ></mat-icon>
      <mat-icon 
        *ngIf="!isSidebarCollapsed"
        aria-hidden="false" 
        aria-label="Arrow back" 
        fontIcon="arrow_backward"
      ></mat-icon>
    </button>
    <app-top-bar></app-top-bar>
  </div>

  <!-- Main Content -->
  <main *ngIf="isLoggedIn || !isAuthPage; else authPage" class="content" [ngClass]="{ 'content-expanded': isSidebarCollapsed }">
    <div class="content-inner">
      <router-outlet></router-outlet>
      <app-notification></app-notification>
    </div>
    <app-footer></app-footer>
  </main>

  <!-- Authentication Layout -->
  <ng-template #authPage>
    <main class="full-screen">
      <router-outlet></router-outlet>
    </main>
  </ng-template>
</div>