<div class='reset-password'>
    <div class='reset-password__left-side'>
        <img src="/assets/images/logo.jpg" class='logo' alt='Logo' />
        <div class="reset-password__logo-name">
            <h1>VetCare <small>Systems</small></h1>
        </div>
    </div>
    <div class='reset-password__right-side'>
        <form class='form' [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <h1>Alterar password</h1>
            <p>Por-favor insira os seus dados e verifique de seguida o seu email.</p>
            <div class='form__group'>
                <mat-icon class="input__icon" fontIcon="lock" />
                <input class="input" type='password' name='newPassword' placeholder='Nova Password' formControlName="newPassword" />
            </div>
            @if ((newPassword?.dirty || newPassword?.touched) && newPassword?.hasError('pattern')) {
                <mat-error class="error-message">
                    A password deve conter uma letra maiúscula, um número e um caractere especial
                </mat-error>
            }
            <div class='form__group'>
                <mat-icon class="input__icon" fontIcon="lock" />
                <input class="input" type='password' name='confirmNewPassword' placeholder='Confirmar a Nova Password' formControlName="confirmNewPassword" />
            </div>
            @if ((confirmNewPassword?.dirty || confirmNewPassword?.touched) && confirmNewPassword?.hasError('required')) {
                <mat-error class="error-message">
                    Email é um campo obrigatório!
                </mat-error>
            }
            @if ((confirmNewPassword?.dirty || confirmNewPassword?.touched) && confirmNewPassword?.hasError('passwordMismatch')) {
                <mat-error class="error-message">
                    As password's não coincidem!
                </mat-error>
            }
            @if (errorMessage) {
                <mat-error class="error-message">
                    {{errorMessage}}
                </mat-error>
            }
            <button class="button button__primary button--margin" [disabled]="resetForm.invalid">Enviar</button>
        </form>
        <div class='reset-password__register-link'>
            Deseja voltar? <a routerLink='/auth/register'>Volte aqui!</a>
        </div>
    </div>
</div>