<div class="validation">
    <div class="validation__welcome">
        <h1>Validação</h1>
    </div>
    <div class="validation__content">
        <div class="validation__left-column">
        <div class="box top">
            <h1>Novas Validaçoes</h1>
            <div class="top__circle-pending">
                <h2>40</h2>
                <h5>Pendentes</h5>
            </div>
            <div class="top__circle-canceled">
                <h2>20</h2>
                <h5>Canceladas</h5>
            </div>
            <div class="top__circle-rescheduled">
                <h2>2</h2>
                <h5>Reenviadas</h5>
            </div>
        </div>
        <div class="box bottom">
            <h1 class="title-primary">Lista Pendentes</h1>
            <div class="list">

            </div>
        </div>
    </div>
    <div class="validation__right-column"></div>
    </div>
</div>