<div class="validation">
  <div class="validation__welcome">
    <h1 class="text-primary">Validação</h1>
  </div>
  <div class="validation__content">
    <div class="validation__left-column">
      <div class="box top">
        <div class="box__title">
          <h1 class="text-white">Novas Validaçoes</h1> 
        </div>
        <div class="top__circle-pending">
          <h2>{{ countPending }}</h2>
          <h5>Pendentes</h5>
        </div>
        <div class="top__circle-canceled">
          <h2>{{ countCancelled }}</h2>
          <h5>Canceladas</h5>
        </div>
        <div class="top__circle-rescheduled">
          <h2>{{ countRescheduled }}</h2>
          <h5>Reenviadas</h5>
        </div>
      </div>
      <div class="box bottom">
        <div class="box__title">
          <h1 class="text-primary">Lista Pendentes</h1>
        </div>
        <div class="box__content">
          <div
            class="list"
            *ngFor="let reservation of reservationsPending; let i = index"
          >
            <p class="list__content">Cliente: {{ reservation.client?.name }}</p>
            <p class="list__content">Data: {{ reservation.date | date : "dd/MM/yyyy" }}</p>
            <p class="list__content">Hora: {{ reservation.timeStart }} - {{ reservation.timeEnd }}</p>
            <div class="list__toggle" (click)="openDialogUpdate(reservation, i)">
              <button
                mat-mini-fab
                aria-label="Example icon button with a menu icon"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box validation__right-column">
      <div class="box__title">
        <h1 class="text-primary">Consultas Propostas</h1>
      </div>
      <div class="box__content">
        <div
          class="reascheduled"
          *ngFor="let reservation of reservationsRescheduled; let i = index"
          (click)="openDialogInfo(reservation, i)"
          onkeydown=""
        >
          <div class="reascheduled__box1 primary">
            <p
              class="reascheduled__confirmation"
              *ngIf="reservation.status === 'accepted'"
            >
              Aceite
            </p>
            <p
              class="reascheduled__confirmation"
              *ngIf="reservation.status === 'rescheduled'"
            >
              Nova Proposta
            </p>
          </div>
          <div class="reascheduled__box2 tertiary">
            <p class="reascheduled__info">
              {{ reservation.client?.name }} - {{ reservation.reason || "Exame" }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
