<div class="employees">
  <div class="employees__title">
    <h1>{{ 'employees.title' | translate }}</h1>
  </div>
  <div class="row">
    <div class="column">
      <div class="employees__togglebuttons">
        <button>{{ 'common.buttons.addFunc' | translate }}</button>
      </div>
    </div>
    <div class="card-list header">
      <div class="column-list id">
        <input type="checkbox" />
      </div>
      <div class="column-list id">
        #
      </div>
      <div class="column-list">
        {{'employees.table.nome' | translate }}
      </div>
      <div class="column-list">
        {{'employees.table.nif' | translate }}
      </div>
      <div class="column-list">
        {{'employees.table.email' | translate }}
      </div>
      <div class="column-list">
        {{'employees.table.tele' | translate }}
      </div>
      <div class="column-list">
        {{'employees.table.func' | translate }}
      </div>
      <div class="column-list">
        {{'employees.table.dataadmition' | translate }}
      </div>
      <div class="column-list">
        {{'employees.table.status' | translate }} 
      </div>
      <div class="column-list">
        {{'employees.table.def' | translate }}
      </div>
    </div>

    <!-- Employees Data -->
    <div class="card-list" *ngFor="let employee of employees; let i = index">
      <div class="column-list id"><input type="checkbox" /></div>
      <div class="column-list id">{{ i + 1 }}</div>
      <div class="column-list">{{ employee.firstName }}</div>
      <div class="column-list">{{ employee.nif }}</div>
      <div class="column-list">{{ employee.email }}</div>
      <div class="column-list">{{ employee.phone }}</div>
      <div class="column-list">{{ employee.function }}</div>
      <div class="column-list">{{ employee.createdAt }}</div>
      <div class="column-list" *ngIf="employee.isActive">Ativo</div>
      <div class="column-list" *ngIf="!employee.isActive">Ferias</div>
      <div class="column-list">
        <button mat-mini-fab aria-label="Button to open menu" class="button--rounded" (click)="openOptionsMenu(i)">
          <mat-icon 
            aria-hidden="false" 
            aria-label="Menu" 
            fontIcon="more_vert"
          ></mat-icon>
        </button>
        <div class="card-list__options" id="options-menu-{{ i }}" [ngClass]="{'active': openedOptionsIndex === i.toString()}">
          <ul>
            <li>
              <mat-icon 
                aria-hidden="false" 
                aria-label="Edit" 
                fontIcon="edit"
              ></mat-icon>
              Editar
            </li>
            <li>
              <mat-icon 
                aria-hidden="false" 
                aria-label="Settings" 
                fontIcon="settings"
              ></mat-icon>
              Alterar permissões
            </li>
            <li class="danger">
              <mat-icon 
                aria-hidden="false" 
                aria-label="Delete" 
                fontIcon="delete"
              ></mat-icon>
              Apagar
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>