@import '../../../../../../styles/abstracts/variables';

.form{
    h1{
        font-size: 18px !important;
        color: var(--ion-color-primary);
    }
    &__input{
        padding-top: 15px;
    }

    &--between{
        display: flex;
        gap: 15px;
    }
    &--padding{
        padding: 40px 0 20px;
    }
}
    

