<div class="dialog">
    <h2 class="dialog__title">Adicionar um funcionario novo</h2>
    <div class="dialog__info">
        <mat-icon fontIcon="report"/>
        <span>Preencha as informações abaixo para registrar o seu animal. Não se preocupe, você poderá editar essas informações mais tarde, se necessário.</span>
    </div>
    <mat-dialog-content class="dialog__content">
        <form class="form" [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">
            <h1>Informações Pessoais</h1>
            <div class="form__input">
                <input 
                    type="text" 
                    class="input-form" 
                    formControlName="name" 
                    placeholder="Nome Completo *"
                >
            </div>
            <div class="form__input">
                <input 
                    type="text" 
                    class="input-form"
                    formControlName="email" 
                    placeholder="Email *"
                >
            </div>
            <div class="form__input form--between">
                <input 
                    type="number" 
                    class="input-form" 
                    formControlName="nif" 
                    placeholder="NIF *"
                >
                <input 
                    type="date" 
                    class="input-form" 
                    formControlName="dateBirth" 
                    placeholder="Data de Nascimento *"
                >
            </div>
            <div class="form__input">
                <input 
                    type="text" 
                    class="input-form" 
                    formControlName="phone" 
                    placeholder="Telemóvel *"
                >
            </div>
            <h1 class="form--padding">Características de Trabalho</h1>
            <div class="form__input form--between">
                <select formControlName="function" class="input-form">
                    <option value="Administrador">{{ 'employees.editarEmployee.funcaoAdministrativa' | translate }}</option>
                    <option value="Atendimento">{{ 'employees.editarEmployee.funcaoAtendimento' | translate }}</option>
                    <option value="Contablista">{{ 'employees.editarEmployee.funcaoFinanceira' | translate }}</option>
                    <option value="Médica">{{ 'employees.editarEmployee.funcaoVeterinaria' | translate }}</option>
                    <option value="Farmacia">{{ 'employees.editarEmployee.funcaoFarmacia' | translate }}</option>
                    <option value="Outros">{{ 'employees.editarEmployee.outros' | translate }}</option>
                </select>
                <select formControlName="workLoad" class="input-form" >
                    <option value="Full-Time">Tempo Integral</option>
                    <option value="Part-time">Meio Tempo</option>
                </select>
            </div>
            <button class="button button__form button--goback" type="button" (click)="onNoClick()">Voltar</button>
            <button class="button button__form" [disabled]="addEmployeeForm.invalid" type="submit">Adicionar Funcionario</button>
        </form>
    </mat-dialog-content>
</div>